--extra-index-url https://download.pytorch.org/whl/cu118
numpy
tensorflow
keras
pillow
requests
pandas
openpyxl
matplotlib
seaborn
graphviz
Cython
norfair
kivy
pycocotools
opencv-python
scikit-image
ipython
sahi
yolov5
packaging
